{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> About Me </h3>
                    <p class="text-light">

                        Hi, this is Vishnu. I'm a computer science undergrad at PES University, working towards my specialization in machine intelligence and data science.
                        
                        
                        
                    </p>
                    <p class="text-light">
                        While my specialization is in machine learning, I'm quite skilled in web development, flutter app development, and software engineering. I like writing articles on various technical concepts ranging from basic programming in python to machine learning.
                        
                        
                    </p>
                    <p class="text-light">
                        I am one of the original founders of hello ML and am currently mentoring students over there. Do check out our amazing internship program. We write on CS topics from C programming to deep learning. I'm sure that we'll figure out a domain you like to work on.  
                        
                        
                    </p>
                    <p class="text-light">
                        I'm looking for interesting ideas to work on. If you have any, do reach out to me on <a style="color: red;" href="https://www.linkedin.com/in/vishnu-s-reddy/">Linkedin</a>  or drop a mail to vishnusreddy@zohomail.in.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}