{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .links {
        color: white;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Contact Me </h3>
                    <li>@<a class="links" href="https://twitter.com/vishnu_s_reddy">vishnu_s_reddy </a>on Twitter</li>
                    <li>@<a class="links" href="https://www.instagram.com/vishnu.s.reddy/">vishnu.s.reddy</a> on
                        Instagram</li>
                    <li>You can also drop a mail at <a class="links"
                            href="mailto:vishnusreddy@outlook.com">vishnusreddy@outlook.com</a> or <a class="links"
                            href="mailto:vishnusreddy007@gmail.com">vishnusreddy007@gmail.com</a>. &nbsp;</li>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}